.blog {
    text-align: center;
    background-color: #F9F9FF;
    font-family: 'Poppins', sans-serif;
    padding: 120px 0px;
    /* background-color: rgb(255, 0, 128); */
}
.blog-row {
    margin: 0p 15px 30px;
    /* background-color: blue; */
}
 .blog-row > .blog-row-h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 25px;
    text-transform: capitalize;
    /* background-color: aqua; */
}
.blog-row > .pp {
    height: 20px;
    margin: 0 0 25px;
    /* background-color: bisque; */
}

@media (max-width: 768px)
.column-blog {
    margin-bottom: 30px;
}

.column-blog {
    text-align: center;
    position: relative;
    width: 100%;
    /*min-height: 1px;
     padding-right: 15px;
    padding-left: 15px; */
    /* background-color: blue; */
}
.column-blog > .blog-row1 {
    min-height: 1px; 
    padding: 20px 0px;
    position: relative;
    text-align: left;
    /* background-color: yellow; */
}
.img-bar1 {
    display: inline-block;
    width: 100%;
}
.information-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: greenyellow; */
}
.img-bar2 {
    max-width: auto;
    /* background-color: red; */
}
.img-bar3 {
    max-width: auto;
    /* background-color: rgb(255, 0, 255); */
}
/* .blogs > .blog > .information-bar {
    display: flex;
    font-size: 14px;
    font-weight: 300px;
    } */
.img-bar1 {
    font-size: 14px;
    line-height: 1.625em;
    position: relative;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 1px solid #777;
    /* background-color: rgb(56, 138, 138); */
}
.title-blog {
    font-size: 18px;
    font-weight: 600px;
    margin-top: 35px;
    text-transform: uppercase;
    color: #222;
    line-height: 1.2em! important;
    /* background-color: aqua; */
}
.description-blog {
    margin: 15px 0px 45px 0px;
    font-size: 14px;
    color: #777;  
    /* background-color: azure; */
}

@media (max-width: 991px) {
    .blog-row1{
        width: 50% !important;
    }
}
@media (max-width: 959px) {
    .blog-row1{
        margin-bottom: 20% !important;
    }
}
@media (max-width: 757px) {
    .blog-row1{
        width: 100% !important;
    }
}
