.container-blog {
    font-family: 'Poppins', sans-serif;
    align-content: center; 
    padding-bottom: 60px;
}
.container-blog > .row-top-blog > .h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 550;
    padding: 20px 0px 20px 0;
    text-transform: capitalize;
    background: linear-gradient(#e2e2e6 0%, #f9f9ff 100%);
}

.container-blog > .row-top-blog > .p {
    text-align: center;
    font-size: 14px;
    padding: 0px 300px;
    color: #777;
}

.container-blog > .row-bottom-blog > {
    display: flex;
    flex-direction: row;
    align-content: center;
    /* background-color: aqua; */
}
.container-blog > .row-bottom-blog > .column > .img-blog > .img {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: bisque; */
}
