.blog {
    text-align: center;
    background-color: #F9F9FF;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    /* background-color: rgb(255, 0, 128); */
}
.blog > .row {
    margin: 0p 15px 30px;
    /* background-color: blue; */
}
 .blog-row > .blog-row-h1 {
    /* text-align: center; */
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 25px;
    text-transform: capitalize;
    /* background-color: aqua; */
}
.blog-row > .pp {
    height: 20px;
    margin: 0 0 45px;
    /* background-color: bisque; */
}
.column-blog {
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    /* background-color: blue; */
}
.column-blog > .blog-row1 {
    min-height: 1px; 
    padding: 20px 0px;
    position: relative;
    text-align: left;
    /* background-color: yellow; */
}
.img-bar1 {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 1.625em;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid #777;
    /* background-color: rgb(56, 138, 138); */
}
.information-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 10px 0px 0px;
    font-size: 14px;
    font-weight: 200;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    /* background-color: greenyellow; */
}
.img-bar2 {
    display: inline-block;
    /* background-color: rgb(255, 0, 255); */
}
.img-bar2 > img {
    padding-right: 10px;
}
.img-bar2 > span {
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: rgb(255, 0, 255); */
}
.img-bar3 {
    display: inline-block;
    margin-top: 5px;
    color: #b8b8b8;
    /* background-color: red; */
}
.img-bar3 > p > i {
    vertical-align: middle;
    margin-left: 8px;
}
.title-blog {
    font-size: 18px;
    font-weight: 600px;
    margin-top: 35px;
    text-transform: uppercase;
    color: #222;
    line-height: 1.2em! important;
    /* background-color: aqua; */
}
.description-blog {
    margin: 15px 0px 45px 0px;
    font-size: 14px;
    font-weight: 200;
    color: #777;  
    /* background-color: azure; */
}
.column-blog:hover .blog-row1 > .thumb > img {
    transform: scale(1.1)
}
@media (max-width: 959px) {
    .blog-row1{
        margin-bottom: 50% !important;
    }
}
@media (max-width: 757px) {
    .blog-row1{
        width: 100% !important;
    }
}
@media (max-width: 768px){
    .blog-row {
    margin-bottom: 30px;
    }
}
@media (max-width: 360px) {
    .img-bar2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .img-bar3 {
        width: 100%;
        text-align: center;
    }
    .img-bar2 {
        position: static;
    }
}
