.blog {
    background-color: var(--plans-background-color);
    padding-bottom: 60px;
    font-family: Poppins, sans-serif;
    background-color: aqua;
}
.blog > .row1 {
    box-sizing: border-box;
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-block-start: 0px;
    /* margin-inline-end: 200px;
    margin-inline-start: 200px; */
    justify-content: center!important;
    text-align: center;
    background-color: blue;
}
.blog > .row1 > .blogs1 > h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 25px 0;
    text-transform: capitalize;
    /* margin-block-end: 25px; */
    text-size-adjust: 100%;
    /* background-color: bisque; */
}
.blog > .row1 > .blogs1 > p {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 45px 0;
    color: var(--grey-color);
    padding-bottom: 70px;
    /* background-color: yellow; */
}
