

.featured * {
    font-family: "Poppins", sans-serif;
    text-align: center;
    
}
.titleFeatured {
    font-size: 36px;
    color: #222222;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
    
}
.textFeatured {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;

}

.navAll, .nav {
    display: inline-block;
    padding: 12px 12px;
    border-radius: 13%;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    color: #222;
    font-size: 12px;
    font-weight: 500;
    }
:focus {
    vertical-align: middle;
    color: #8490ff;
    
    
}

::after {
    content: "";
    display: block;
    width: calc(0% - 60px);
    position: absolute;
    height: 2px;
    background: #333;
    transition: width 350ms ease-out;
}
.nav:focus::after {
    width: 30%;
    }
