/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */
body {
    background-color: #F9F9FF;/*To remove*/
}
/* header start */
header {
    margin-top: -100px;
}
nav {
    display: none;
}
header > div {
    /* padding-top: 50px; */
    width: 100%;
    background-color: #fff;
}
.logo-top > div {
    height: 10vh;
    justify-content: flex-start;
    align-items: center;
}
.navigation-bar {
    height: 10vh;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    font-family: "Segoe UI","Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.navigation-bar a {
    padding: 0 2%;
    font-size: 0.8em;
    font-weight: 500;
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation-bar a:hover {
    color: #8490ff;
}

.navigation-bar > .top-menu-home {
    color: #8490ff;
}
/*~~~~~~~~~Multi level Beginning~~~~~~~~~*/
.top-menu-hidden {
    position: relative;
    width: 10%;
    line-height: 0; /*don't remove, extra margin from bellow*/
}

/*Base for multi layer box*/
.top-menu-inner {       
    display: flex;
    visibility: hidden;
    position: absolute;
    line-height: 20px;
    margin-top: 5vh;
    margin-left: -200%;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: all 0.5s ease 0.5s;
}


.top-menu-hidden > .top-menu-inner {
    width: 300%; 
}
.top-menu-hidden:hover > div {
    visibility: visible;
}


.top-menu-hidden-nested > .top-menu-inner {
    width: 100%; 
    left: 100%;
    top: 3vh;
}
.top-menu-hidden-nested:hover > div {
    visibility: visible;
}


.top-menu-inner a {
    padding: 10px;
    text-transform: capitalize;
}
.top-menu-hidden > a::after {
    position: absolute;
    margin-left: 10%;
    content: "^";
    transform: rotate(180deg) scaleX(1.6);
}
.top-menu-hidden-nested > a {/*makes it like the other div element in the block*/
    display: block;
}
.top-menu-hidden-nested {
    width: 100%;
}
.top-menu-hidden-nested > a::after {
    position: absolute;
    margin-left: 50%;
    content: "^";
    transform: rotate(90deg) scale(1.2, 1.2);
}
/*~~~~~~~~~Multi level End~~~~~~~~~*/
/*~~~~~~~~~Responsive meniu~~~~~~~~~*/

@media (min-width: 991px ) {
    nav {
        display: block;
    }
}
@media (max-width: 1198px) {
    header > div {
        padding-top: 10px;
        padding-left: 5px;
    }
}
@media (max-width: 990px) {
    header > div {
        padding-top: 20px;
    }
}
@media (max-width: 776px) {
    header > div {
        padding-top: 30px;
    }
}



/* header end */






















/* hero start */
.a, .b, .c {
    font-family: "Poppins", sans-serif;
    color: #222222;
    text-transform: uppercase;
}
.a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    }
.b {
    font-size: 60px;
    font-weight: 600;
    }
.c {
    color: #777777;
    text-transform: none;
    font-size: 14px;
    font-weight: 300;
    
    }
.herobutton {
    width: 168px;
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 13.5px;
    
    
}
/* hero end */



/* about cards start */
/* about cards end */

/* about progress-bars start */
/* about progress-bars end */

/* services start */
/* services end */

/* why choose us start */
/* why choose us end */

/* contact start */
/* contact end */

/* blog start */
/* blog end */

/* testimonials start */
/* testimonials end */

/* bottom logos start */
/* bottom logos end */

/* footer start */
/* footer end */
