/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/header.css';
@import '../components/button.css';
@import '../components/blog.css';
@import '../components/choose.css';
@import '../components/me.css';
@import '../components/featuredtext.css';

@import'../components/contact.css';

@import '../components/feedback.css';
@import '../components//logos.css';
@import '../components/footer.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */


/* hero start */
/* hero end */

/* about cards start */
/* about cards end */

/* about progress-bars start */
/* about progress-bars end */

/* services start */
.myoffered{
    width: 100%;
    color: #222222;
    text-align: center;
    font-size: 36px;
    line-height: 1.4;
}   
.pastraipa{
    width: 100%;
    text-align: center;
    color: #777777;
    font-size: 18px;
     line-height: 1.5;
    padding-top: 15px;  
}
.meniu{
    align-items: center;
     text-align: center;
     margin-top: 10px;
     margin-bottom: 70px; 
     margin: 0;
}
.meniu > a{
     line-height: 3;
     margin-top: 10px;
     
}
.meniu h4{
    
    margin-bottom:0px;
    padding-top: 20px;
    line-height: 1.5em;
    font-size: 19px;
}
.meniu h4:hover{
    color: #8490ff;
    cursor: pointer;
    transition-duration: .5s;
}
.meniu p{
  
    margin-bottom:80px;
    color: #777777;
    font-size: 15px;
    line-height: 1.7em;
}
.meniu img{
    width: 35px;
    height: 35px;
 } 
.path:hover{
    color: #8490ff;
    
}
.meniu:hover{
    color: #8490ff;
    transition-duration: 0.2s;
}


/* why choose us start */
.counter-conteiner{
    text-align: center;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    
   
}
.counter-conteiner h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700px;
    font-weight: bold;
    font-size: 34px;
    margin-top: 24px;
    color: #fff;
}
.counter-conteiner p{
    color: #fff;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 1rem;
    text-decoration: none;
}

/* why choose us end */

/* contact start */
/* contact end */

/* blog start */
.img-title::selection::selection {
    background-color: #8490ff;
    color: #fff;
}

/* blog end */

/* testimonials start */
/* testimonials end */