/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/header.css';
@import '../components/button.css';
@import '../components/choose.css';
@import '../components/me.css';
@import '../components/featured.css';



@import '../components/feedbac.css';


/* CUSTOM STYLE BELOW THIS COMMENT LINE */
body {
    background-color: #fff;
}


/* why choose us start */
/* why choose us end */

/* contact start */
/* contact end */

/* blog start */
/* blog end */

/* testimonials start */
/* testimonials end */

/* bottom logos start */
/* bottom logos end */

/* footer start */

.aboutme{ 
    position: sticky;
    height: 432px;
    font-family: "Poppins", sans-serif;
    background-color: #04091e; 
}  
.aboutme h3{
    color: #fff;
    margin-top: 10px;
    font-size: 18px; 
    text-decoration: none; 
}
.aboutme p{
    padding-top: 22px;
    color: #777777;
    line-height: 22px;
    font-size: 14px; 
}
.aboutme .heart{
    padding-top: 3px;
}
.aboutme .email{
    width: 30px; 
}
.aboutme .Colorlib{
    color: #8490ff;
}
.aboutme .email .box{
    font-size: 15px;
    color:  #f9f9ff;
    margin-top: 20px;
    padding-left: 15px;
    position: relative;
    display: inline block;
    width: 398px;
    height: 43px;
}
.aboutme .email .button{
    cursor: pointer;
    display: inline;
    background-color: #8490ff;
    margin-top: -43px;
    margin-left: 395px;
    border: #62bdfc;
    width: 47px;
    height: 43px;  
}
.aboutme .email .button .submit{
    padding-top: 10px;
    margin-right: 5px;
}
.aboutme .fa{
    font-size: 15px;
    margin-top: 15px;
    padding: 7px;
    color: #fff;
}
.aboutme .fa:hover{
    color: #8490ff;

}
/* footer end */

